h1 Welcome #{user.firstName} #{user.lastName} (#{user.username}, #{user.email})
//- <p>answers is #{answers}</p>
//- var answers = !{JSON.stringify(answers)};

ul
    li This is a 25-question, multiple choice test. Each question is followed by answers marked A, B, C, D and E. Only one of these is correct. 
    li SCORING: You will receive 6 points for each correct answer, 1.5 points for each problem left unanswered, and 0 points for each incorrect answer.
    li No aids are permitted other than scratch paper, graph paper, ruler, compass, protractor, and erasers. No calculators are allowed. No problems on the test will require the use of a calculator.
    li Figures are not necessarily drawn to scale.
    li You will have 75 MINUTES to complete the test. Your remaining time is on the upper left hand of this page.
    li When you finish the exam, click the submit button on the bottom of this page.

h3 Q1: A)1 B)2 C)3

h3.text-center.login-title Write down all your answers
    form(class='form-test', action='/test', method='POST')
        input(type='ans', name='ans1' class='form-control', placeholder='ans1')
        button(class='btn btn-lg btn-primary btn-block', type='submit') Submit
        span.clearfix
a(href='/admin', class='text-center admin-page') Admin Page<br>
a(href='/signout', class='text-center index-page') Sign Out<br>

//- <button onclick="returnScore()">View Results</button>
//- #message
//-     if message
//-         h1.text-center.error-message #{message}
