h1 Welcome #{user.firstName} #{user.lastName} (#{user.username}, #{user.email})
//- <p>answers is #{answers}</p>
//- var answers = !{JSON.stringify(answers)};

ul
    li This is a 25-question, multiple choice test. Each question is followed by answers marked A, B, C, D and E. Only one of these is correct. 
    li SCORING: You will receive 6 points for each correct answer, 1.5 points for each problem left unanswered, and 0 points for each incorrect answer.
    li No aids are permitted other than scratch paper, graph paper, ruler, compass, protractor, and erasers. No calculators are allowed. No problems on the test will require the use of a calculator.
    li Figures are not necessarily drawn to scale.
    li You will have 75 MINUTES to complete the test. Your remaining time is on the upper left hand of this page.
    li When you finish the exam, click the submit button on the bottom of this page.


p Q1: A basketball player made 5 baskets during a game. Each basket was worth either 2 or 3 points. How many different numbers could represent the total points scored by the player? (Answer is E) <br> A)2 B)3 C)4 D)5 E)6

p Q2: A 4 * 4 block of calendar dates is shown. The order of the numbers in the second row is to be reversed. Then the order of the numbers in the fourth row is to be reversed. Finally, the numbers on each diagonal are to be added. What will be the positive di®erence between the two diagonal sums?(insert pic) (Answer is B) <br> A)2 B)4 C)6 D)8 E)10

p Q3: Assume that x is a positive real number. Which is equivalent to (insert pic)? (Answer is D) <br> A)x<sup>1/6</sup> B)x<sup>1/4</sup> C)x<sup>3/8</sup> D)x<sup>1/2</sup> E)x



h3.text-center.login-title Write down all your answers
    form(class='form-test', action='/test', method='POST')
        input(type='ans', name='ans1' class='form-control', placeholder='ans1')
        input(type='ans', name='ans2' class='form-control', placeholder='ans2')
        input(type='ans', name='ans3' class='form-control', placeholder='ans3')
        button(class='btn btn-lg btn-primary btn-block', type='submit') Submit
        span.clearfix
a(href='/admin', class='text-center admin-page') Admin Page<br>
a(href='/signout', class='text-center index-page') Sign Out<br>

//- <button onclick="returnScore()">View Results</button>
//- #message
//-     if message
//-         h1.text-center.error-message #{message}
